body{
    background-color: #93b8c4;
}
.title{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7FCBE5;
    color: #444444;
    font-family: "Arial", "Helvetica", "sans-serif";
    margin: -20px;
    margin-bottom: 0px;
}
.item-type{
    text-align: center;
    font-family: "Arial", "Helvetica", "sans-serif";
}
.buttons{
   display: flex; 
   flex-direction: row;
   justify-content: center;
}

button{
width: 200px;
height: 200px;
border: 4px solid black;
margin: 5px;
border-radius: 10px;
background-color: lightblue;
transition: all 0.1s;
}
.button1{
    background-image: url("images/rock.png");
    background-size: 200px 200px;
}
.button2{
    background-image: url("images/paper.png");
    background-size: 200px 200px;
}
.button3{
    background-image: url("images/scissors.png");
    background-size: 200px 200px;
}
.clicked{
    transform:scale(1.05);
    border-color: #ffc600;
}
.player-score, .computer-score{
    text-align: center;
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 20px;
}


.game-result{
    text-align: center;
    font-family: "Arial", "Helvetica", "sans-serif";
    margin: 5px;
}